*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: normal;
    color: springgreen;*/
    display: block; 
}

h1{
    font-weight: 700;
}

strong{
    color: #000;
}

span{
color: #00789f;
}
.nav-link{
    color:slategray;
}

.nav-link-hover{
    color: orchid;
}

li{
    color: #6d6e71;
}